*{
    padding: 0;
    margin: 0;
    color: white;
    /* font-size: medium; */
    font-family: Arial, Helvetica, sans-serif;
   
    
}
body{
    background-color: #231F20;
}

.header{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#allLinks a{
    text-decoration: none;
    margin: 20px;

}
#para p{
    margin-left: 20px;
}
.content1{

   display: flex;
   justify-content: space-evenly;
   /* background-color: #BB4430; */
   align-items: center;
   
   
}

img{
    height: 300px;
    width: 400px;

   
}

#one{
    margin: 10px;
   padding: 10px;
    border-radius: 8%;
    background-color: #BB4430;
    /* align-self: center; */

  
}

#two{
    
   border-radius: 8%;
     margin: 10px;
   padding: 10px;
   background-color: #BB4430;
  

}

#three{
     margin: 10px;
   padding: 10px;
    border-radius: 8%;
    background-color: #BB4430;
   
}
img{
   border-radius: 50%;
   margin-top: 10px;
}



#firstpara{
    
    margin-top: 10px;
    padding: 10px;
}

.footer{
    background-color:black;
    height: 30px;
    display: flex;
    justify-content: center;
}
