*{
    padding: 0;
    margin: 0;
    color: white;
    /* font-size: medium; */
    font-family: Arial, Helvetica, sans-serif;
   
    
}
body{
    background-color: #141414fd;
}

.header{
    height: 50px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#allLinks a{
    text-decoration: none;
    margin: 20px;

}
#para p{
    margin-left: 100px;
}

img{
    height: 300px;
    width: 400px;  
}

img{
   border-radius: 50%;
   margin-top: 10px;
   }

#firstpara{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url(images/background.jpg);
    background-size: cover;
    /* margin-top: 10px; */
    padding: 10px;
    height: 550px;
    text-align: center;
    
}
#firstpara p{
    color: white;
    text-decoration: solid;
    font-size: 40px;
    font-family: cursive;
    text-align: right;
    padding-left: 500px;
}

.secondpara {
    padding-top: 40px;
    background-color: rgb(1, 19, 12);
    height: 500px;
 background-image: url(images/ingredients-near-pizza.jpg);
 background-size: cover;
 display: flex;
 justify-content: center;
}
#second{
    height: 500px;
    width: 600px;
    padding: 10px;
    
}
#second p{
    font-size: large;
    padding: 10px;
}

a:hover{
    background-color: #BB4430;
}

.Details{
    display: flex;
    justify-content: space-around;
   
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 370px;
    background-color:#302f30;
    padding: 10px;
    margin: 20px;
    border-radius: 10%;
}
.details img{
    padding: 10px;
    height: 150px;
    width: 100%;
    border-radius: 10%;
}

.details img:hover{
    background-color: rgb(255, 255, 255);
}
.details p ,h1 ,button{
    color: rgb(245, 245, 245);
    text-align: center;
}
#description{
    text-align: center;
}

button{
    background-color: #231F20;
    color: aliceblue;
    width: 200px;
    height: 40px;
}

#top {
    color: #ffffff;
    margin: 20px;
}











