*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(42, 99, 64);
}

.nav{
    display: flex;
    background-color: rgb(83, 141, 109);
    border: 1px solid black;
    align-content: center;
    
}

a,li{
    text-decoration: none;
    list-style-type: none;
}